name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - cicd

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.4
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Expo Doctor
        run: npx expo-doctor .

      - name: Typecheck
        run: npx tsc --noEmit

      